<h1> V I R T U A L - P E S T S </h1>
<div id="left">
  <div class="monzaemon-walk"></div>
  Monzaemon Walking

  <div class="junior-walk"></div>
  Koramon Walking

  <div id="monster"></div>
  Botamon Walking
</div>

<div id="right">
  <div class="monzaemon-battle"></div>
  Monzaemon Battling

  <div class="junior-battle"></div>
  Koramon Battling

  <div class="baby-battle"></div>
  Botamon Battling
</div>
