
{{!-- <div id="left">
  <div class="monzaemon-walk"></div>
  Monzaemon Walking

  <div class="junior-walk"></div>
  Koramon Walking

  <div id="monster"></div>
  Botamon Walking
</div> --}}

<div id="mid">
  <div class="baby-happy"></div> <br>
  <div class="junior-happy"></div>
  <div class="monzaemon-happy"></div>
</div>

{{!-- <div id="right">
  <div class="monzaemon-battle"></div>
  Monzaemon Battling

  <div class="junior-battle"></div>
  Koramon Battling

  <div class="baby-battle"></div>
  Botamon Battling
</div> --}}

<form action="/auth/login" method="get" id="nameform">
</form>

<button id="submitBtn"type="submit" form="nameform" value="Submit"></button>
