<div id="nicknames">
<form action="/user/new" method="post" id="nicknameform">
  Monster Name: <input type="text" name="nickname"><br>
</form>


<button type="submit" form="nicknameform" value="Submit">Submit</button>
</div>

<a href="/auth/logout">Logout</a>
