<div class="container row">
  <div class="col s4 offset-s4">
    <section ng-controller="UserController as user">
      <form ng-submit='user.newMonster()'>
        <input type="text" placeholder="edit monster name" ng-model='user.info.vpets.nickname'>
        <button class="btn waves-effect waves-light" type="submit">submit <i class="material-icons right">send</i></button></form>
    </section>
    <br><br>
    <div class="col s1 offset-s5">
    <a id="logout" href="/auth/logout">Logout</a>
    </div>
  </div>
</div>


<script src="/app.js" charset="utf-8"></script>
<script src="/controllers/userController.js" charset="utf-8"></script>

