<div id="left">

  <div id="monster"></div>

Say hello to {{vpet.nickname}}
</div>
<div id="right">
  <button id="food">Food</button>
  <button id="train">Train</button>
  <button id="toilet">Toilet</button>
  <button id="lights">Lights</button>
</div>

<div id="stats-food">FOOD:</div>
<a id="logout" href="/auth/logout">Logout</a>
  <script src="/js/monster.js"></script>
