<section ng-controller="UserController as user">


<div id="left">
  <div id="greet-monster">Say hello to {{vpets.nickname}}</div>
  <div id="monster"></div>
</div>

<div id="middle"></div>

<div id="right">
  <form ng-submit='user.addFood()'><button type="submit">Feed</button></form>
  <form ng-submit='user.addStrength()'><button type="submit">Train</button></form>
  <button id="toilet" ng-click="user.useToilet()">Toilet</button>
  <button ng-click="user.stopInterval('$interval(callAtInterval, 5000)')" id="lights">Lights</button>
  <div id="deletable">
  <button id="delete-btn">DELETE</button>
  </div>
    <form ng-submit='user.updateNickname()'>
      <input type="text" placeholder="edit monster name" ng-model='user.info.vpets.nickname'>
      <button type="submit">submit name</button></form>
  <div id="nickname-msg"></div>
</div>


</section>
<br><br><br>

FOOD:<div id="stats-food"></div>
STRENGTH:<div id="stats-protein"></div>
<div id="poop"></div>
<a id="logout" href="/auth/logout">Logout</a>


<script src="/app.js" charset="utf-8"></script>
<script src="/controllers/userController.js" charset="utf-8"></script>
<script src="/js/monster.js"></script>



