<div id="left">

  <div id="monster"></div>

Say hello to {{vpet.nickname}}
</div>
{{!--
<div id="mid">
  <div class="monzaemon-happy"></div>

  <div class="junior-happy"></div>

  <div class="baby-happy"></div>
</div>

<div id="right">
  <div class="monzaemon-battle"></div>
  Monzaemon Battling

  <div class="junior-battle"></div>
  Koramon Battling

  <div class="baby-battle"></div>
  Botamon Battling
</div>
 --}}
<a href="/auth/logout">Logout</a>
  <script src="/js/monster.js"></script>
