<div id="left">

<div id="monster"></div>
Say hello to {{vpets.nickname}}

</div>
<div id="right">
  <button id="food">Food</button>
  <button id="train">Train</button>
  <button id="toilet">Toilet</button>
  <button id="lights">Lights</button>
  <div id="editable">
  <button id="edit-btn">Edit Monster</button>
  </div>
  <div id="deletable">
  <button id="delete-btn">DELETE</button>
  </div>
</div>


FOOD:<div id="stats-food"></div>
<a id="logout" href="/auth/logout">Logout</a>
  <script src="/js/monster.js"></script>

